@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
    background: url('./../../resm/cover.png') right no-repeat;
    background-size: 60%;
    margin-right: 0%;
    width: 100%;
    max-width: 100%;

}

.h22 {
    font-weight: 50px;
    background-color: #EEEEEE;
    background-size: 75px;
    font-family: 'Roboto', sans-serif;
    align-items: flex-start;
    color: #93C11A;
    text-align: center;
    font-weight: bold;
    width: 70%;
    letter-spacing: 3px;
    padding-top: 3px;
    margin-top: 20px;
}

.paragraph {
    font-size: 30px;
    color: #851A81;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 40px;
    width: 80%;
    font-family: 'Roboto', sans-serif;


}